#ui2{
    /* ui 2 */

    width: 800px;
    height: 550px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    background: linear-gradient(106.51deg, rgba(255, 255, 255, 0.05) 3.44%, rgba(255, 255, 255, 0.02) 64.82%);
    backdrop-filter: blur(15px);
    border-radius: 24px;
}
#ui2>h1{
    color: white;
    font-family: "Rhodium Libre", serif;
    font-weight: 400;
    font-style: normal;

    width: max-content;
    height: max-content;
    position: absolute;
    right: 0;
    left: 0;
    top: 50px;
    margin: auto;
}
#ui2>.flex-nowrap1{
    width: 500px;
    position: absolute;
    right: 0;
    left: 0;
    top: 150px;
    margin: auto;
}
#ui2>.flex-nowrap2{
    width: 500px;
    position: absolute;
    right: 0;
    left: 0;
    top: 250px;
    margin: auto;
}
#ui2>.flex-nowrap3{
    width: 500px;
    position: absolute;
    right: 0;
    left: 0;
    top: 350px;
    margin: auto;
}
button{
    width: 100px;
    height: 40px;
    position: absolute;
    right: 150px;
    top: 450px;

    background: #1E90FF;
    color: white;
    font-family: "Rhodium Libre", serif;
    font-weight: 400;
    font-style: normal;
    border: none;
    /* NEED TO ADD BOARDER RADIUS*/
}
