<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="../style/normalize.css">
    <link rel="stylesheet" href="../style/page1.css">

    <!--Rhodium Libre Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lemon&family=Rhodium+Libre&display=swap" rel="stylesheet">

</head>
<body>

<section class="login">
    <div id="div1">
        <button id="sign_in">Sign In</button>
        <button id="sign_up">Sign Up</button>
    </div>
    <div id="div2">
        <div id="ui1">
        <h1>Welcome<br>To<br>POS<br>System</h1>
        </div>
    </div>
</section>

</body>
</html>